$setWidth: var(--data-land-width);
$setLength: var(--data-land-length);

.container {
  overflow: hidden;

  .row {
    opacity: var(--data-width);
    justify-content: space-around;
    align-content: flex-start;
    background-color: #F4F4F4;
    height: $setLength;
    width: $setWidth;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%) rotateX(65deg) rotateY(0deg) rotateZ(-48deg) scale(0.5);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    @media screen and (max-width: 768px) {
      transform: unset;
      top: 0;
      left: 0;
      position: relative;
      height: 300px;
      width: 100vw;
      background-image: url("https://digitalassets.tesla.com/image/upload/q_auto/f_auto/w_3840/prod/fulfillment/energy/Order/MegapackConfigurator/d_megapack-hero");
      background-position: center;
      background-size: cover;
      margin-top: 50px;
      .column {
        * {
          display: none !important;
        }
      }
    }
  }

  .column {
    margin-bottom: 300px;
    position: relative;
    min-height: 200px;
    animation: fade-in 1s linear forwards;

    &:nth-child(odd) {
      &:global([class*="col-6"]) {
        z-index: 1;
      }
    }

    &:nth-child(even) {
      &:not(:global([class*="col-12"])) {
        :global([class*="Item_cube"]) {
          transform: rotateX(15deg) rotateY(15deg) rotateZ(-182deg) translate3D(-10em, 3.9em, 20em);
        }
      }

    }
  }
}


@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate3d(2.7rem, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
