.container {
  overflow: hidden;
}

.selectYourMegapackLayout {
  min-height: 100vh;
  overflow: hidden;

  .megapackView {
    position: relative;
    overflow: hidden;
    background-image: radial-gradient(circle at 45% 45%, rgb(202, 202, 202), transparent 45%);
    @media screen and (max-width: 768px) {
      height: 40vh;
    }
  }

  .megaPackSelector {
    margin-top: 100px;
    overflow: scroll;
    height: 85vh;
    @media screen and (max-width: 768px) {
      height: 50vh;
    }
  }
}
